<form action="/signup" method="post">
    <input type="text" name="email" placeholder="Insert Email">
    <input type="password" name="password" placeholder="Insert Password">

    <button type="submit">
        Signup
    </button>
</form>