<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <ul>
        <li><a href="/">Home</a></li>
        <% if(!user){ %>
            <li><a href="/signup">SignUP</a></li>
            <li><a href="/signin">SignIN</a></li>
        <%} else { %>
            <li><a href="/logout">logout</a></li>
           <li><a href="/profile">Profile</a></li>
        <% } %>
    </ul>
    
    <% if(signupMessage){ %>
        <div>
            <%= signupMessage %>
        </div>
    <% } %>

    <% if(signinMessage){ %>
        <div>
            <%= signinMessage %>
        </div>
    <% } %>

    <%- body %>

</body>
</html>